<!DOCTYPE html>

<html class="dark" lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Select Delivery Address</title>
    <!-- <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script> -->
    <link rel="stylesheet" href="/stylesheets/output.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap"
        rel="stylesheet" />
    <style>
        .material-symbols-outlined {
            font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
        }

        .loader-box {
            width: 100%;
            height: 100%;
            background-color: #ffffff33;
            position: fixed;
            top: 0;
            z-index: 1000;
            display: none;
        }

        .loader-flex {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
        }

        .loader {
            width: 48px;
            height: 48px;
            border: 5px solid #fff;
            border-bottom-color: transparent;
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            animation: rotation 1s linear infinite;
        }

        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    <style type="text/tailwindcss">
        body {
        --radio-dot-svg: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23137fec' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='4'/%3e%3c/svg%3e");
      }
    </style>
</head>

<body class="font-display bg-background-light dark:bg-background-dark text-[#F2F2F2]">
    <div class="relative flex min-h-screen w-full flex-col">
        <div class="flex h-full grow flex-col">
            <div class="flex flex-1 justify-center py-5">
                <div class="grid w-full max-w-7xl grid-cols-1 gap-8 px-4 lg:grid-cols-2">

                    <!-- left start from here -->
                    <div class="flex w-full flex-col">
                        <div
                            class="flex items-center gap-4 border-b border-[#262f38] pb-4 fixed  z-1000 w-full top-0 left-0 bg-[#262f38]  cursor-pointer">
                            <button class="p-2 text-[#F2F2F2] cursor-pointer go-back">
                                <span class="material-symbols-outlined">arrow_back</span>
                            </button>
                            <h1 class="text-xl font-bold text-[#F2F2F2]">
                                Select Delivery Address
                            </h1>
                        </div>
                        <div class="flex flex-col gap-8 pt-4 mt-16">
                            <% if(savedAddress.length> 0){%>
                                <div>
                                    <p class="mb-4 text-base font-medium text-[#F2F2F2]">
                                        Saved Address
                                    </p>
                                    <div class="flex flex-col gap-4">
                                        <!-- saved address -->
                                        <% savedAddress.forEach(add => {%>
                                            <label class="flex cursor-pointer gap-4 rounded-xl bg-[#1a242e] p-4 saved-add">
                                            <input checked=""
                                                class="mt-1 h-5 w-5 shrink-0 appearance-none rounded-full border-2 border-solid border-[#3a444e] bg-transparent checked:bg-[image:--radio-dot-svg] focus:outline-none focus:ring-0 focus:ring-offset-0 radio"
                                                name="addressSelection" type="radio" />

                                            <div class="flex grow flex-col gap-2">
                                                <div class="flex items-center justify-between">
                                                    <p class="text-base font-bold text-[#F2F2F2] user-name">
                                                        <%= add.userFullName %>
                                                    </p>

                                                    
                                                </div>

                                                <p class="text-sm text-[#F2F2F2] user-phone-no"><%= add.userMobile %></p>

                                                <p class="text-sm text-[#F2F2F2] user-location">
                                                    <%= add.userLocation %>
                                                </p>

                                                <!-- ⭐ Deliver Here Button Added -->
                                                <button
                                                    class="deliver-here-btn mt-2 w-fit rounded-lg bg-primary px-4 py-2 text-sm font-semibold text-white cursor-pointer hidden deliver-here-btn product">
                                                    Deliver Here
                                                </button>
                                            </div>
                                        </label>
                                        <%})%>
                                    </div>
                                </div>
                                <%}%>


                                    <button id="add-new-add"
                                        class="flex h-12 w-full cursor-pointer items-center justify-center overflow-hidden rounded-xl border border-primary bg-transparent px-5 text-base font-bold text-primary">
                                        <span>+ Add New Address</span>
                                    </button>
                        </div>

                        <!-- create address form -->
                        <div class="flex flex-col gap-6 pt-4  duration-200 ease-in-out hidden add-form">
                            <div>
                                <div class="flex flex-wrap items-center justify-between gap-3">
                                    <p class="text-2xl font-bold leading-tight tracking-light text-white">
                                        Create Address
                                    </p>
                                    <button id="get-location"
                                        class="flex items-center gap-2 rounded-lg border border-[#3a444e] bg-[#1a242e] px-4 py-2 text-sm font-medium text-primary">
                                        <span class="material-symbols-outlined text-base">my_location</span>
                                        <span>Use Current Location</span>
                                    </button>
                                </div>
                                <div class="grid grid-cols-1 gap-4 md:grid-cols-2 ">
                                    <div class="flex flex-col gap-2 md:col-span-2">
                                        <label class="text-sm font-medium text-[#F2F2F2]" for="fullName">Full
                                            Name</label>
                                        <input
                                            class="h-12 rounded-xl border border-solid border-[#3a444e] bg-[#1a242e] px-4 text-sm text-[#F2F2F2] placeholder-[#777777] focus:border-primary focus:ring-primary"
                                            id="fullName" placeholder="Enter your full name" type="text" />
                                    </div>
                                    <div class="flex flex-col gap-2">
                                        <label class="text-sm font-medium text-[#F2F2F2]" for="mobile">Mobile
                                            Number</label>
                                        <input
                                            class="h-12 rounded-xl border border-solid border-[#3a444e] bg-[#1a242e] px-4 text-sm text-[#F2F2F2] placeholder-[#777777] focus:border-primary focus:ring-primary"
                                            id="mobile" placeholder="Enter your mobile number" type="tel" />
                                    </div>
                                    <div class="flex flex-col gap-2">
                                        <label class="text-sm font-medium text-[#F2F2F2]" for="pincode">Pincode</label>
                                        <input
                                            class="h-12 rounded-xl border border-solid border-[#3a444e] bg-[#1a242e] px-4 text-sm text-[#F2F2F2] placeholder-[#777777] focus:border-primary focus:ring-primary"
                                            id="pincode" placeholder="Enter pincode" type="text" />
                                    </div>
                                    <div class="flex flex-col gap-2 md:col-span-2">
                                        <label class="text-sm font-medium text-[#F2F2F2]" for="addressLine1">House No. /
                                            Flat, Building</label>
                                        <input
                                            class="h-12 rounded-xl border border-solid border-[#3a444e] bg-[#1a242e] px-4 text-sm text-[#F2F2F2] placeholder-[#777777] focus:border-primary focus:ring-primary"
                                            id="addressLine1" placeholder="Enter house number and building"
                                            type="text" />
                                    </div>
                                    <div class="flex flex-col gap-2 md:col-span-2">
                                        <label class="text-sm font-medium text-[#F2F2F2]" for="addressLine2">Area /
                                            Colony</label>
                                        <input
                                            class="h-12 rounded-xl border border-solid border-[#3a444e] bg-[#1a242e] px-4 text-sm text-[#F2F2F2] placeholder-[#777777] focus:border-primary focus:ring-primary"
                                            id="addressLine2" placeholder="Enter area or colony" type="text" />
                                    </div>
                                    <div class="flex flex-col gap-2">
                                        <label class="text-sm font-medium text-[#F2F2F2]" for="city">City</label>
                                        <input
                                            class="h-12 rounded-xl border border-solid border-[#3a444e] bg-[#1a242e] px-4 text-sm text-[#F2F2F2] placeholder-[#777777] focus:border-primary focus:ring-primary"
                                            id="city" placeholder="Enter city" type="text" />
                                    </div>
                                    <div class="flex flex-col gap-2">
                                        <label class="text-sm font-medium text-[#F2F2F2]" for="state">State</label>
                                        <input
                                            class="h-12 rounded-xl border border-solid border-[#3a444e] bg-[#1a242e] px-4 text-sm text-[#F2F2F2] placeholder-[#777777] focus:border-primary focus:ring-primary"
                                            id="state" placeholder="Enter state" type="text" />
                                    </div>
                                </div>
                            </div>
                            <div
                                class="sticky bottom-0 mt-auto w-full border-t border-[#262f38] bg-background-dark py-4">
                                <button id="deliver-here"
                                    class="flex h-12 w-full cursor-pointer items-center justify-center overflow-hidden rounded-xl bg-primary text-base font-bold text-white">
                                    <span class="truncate">Deliver Here</span>
                                </button>
                            </div>
                        </div>

                    </div>
                    <!-- left end her -->

                    <!-- right side start -->
                    <div
                        class="flex h-fit flex-col gap-6 rounded-xl border border-[#262f38] bg-[#1a242e] p-6 lg:sticky lg:top-5 mt-16 max-[900px] mt-0">
                        <h2 class="text-xl font-bold">Cart Summary</h2>


                        <div class="flex flex-col gap-4">
                            <!-- Item -->
                            <% cartItems.forEach(product=> {%>
                                <div class="flex items-center gap-4">
                                    <img alt="Product Image 1" class="h-20 w-20 rounded-lg object-cover"
                                        src="<%= product.productId.images[0].secure_url %>" />
                                    <div class="flex-grow">
                                        <p class="font-medium text-[#F2F2F2]">
                                            <%= product.productId.productName %>
                                        </p>
                                        <p class="text-sm text-[#777777]">Size: <%= product.size %>, Color: <%=
                                                    product.productId.colors[0] %>
                                        </p>
                                    </div>
                                    <p class="font-semibold text-[#F2F2F2]">₹<%= product.productId.sellingPrice %>
                                    </p>
                                </div>
                                <%})%>

                        </div>
                        <div class="my-4 border-t border-[#262f38]"></div>
                        <div class="space-y-2">
                            <div class="flex justify-between text-sm text-[#F2F2F2]">
                                <span>Subtotal</span>
                                <span>₹<%= subTotal %></span>
                            </div>
                            <div class="flex justify-between text-sm text-[#F2F2F2]">
                                <span>Shipping</span>
                                <span class="text-[green]">₹50</span>
                            </div>
                            <div class="flex justify-between text-sm text-[#F2F2F2]">
                                <span>Taxes</span>
                                <span class="text-[red]">Calculated at checkout</span>
                            </div>
                        </div>

                        <div class="my-4 border-t border-[#262f38]"></div>
                        <div class="flex justify-between text-lg font-bold text-[#F2F2F2]">
                            <span>Total</span>
                            <span>₹<%= total %></span>
                        </div>
                    </div>
                    <!-- right end here -->

                </div>
            </div>
        </div>
    </div>

    <div class="loader-box">
        <div class="loader-flex">
            <div class="loader"></div>
        </div>
    </div>

    <script src="/javascripts/select-delivery-add.js"></script>
</body>

</html>